@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}
 
@layer base {
  * {
    border-color: theme('colors.ds-border.light');
  }
  .dark * {
    border-color: theme('colors.ds-border.dark');
  }
  body {
    background-color: theme('colors.ds-background.light');
    color: theme('colors.ds-primary.light');
    font-family: theme('fontFamily.sans');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .dark body {
    background-color: theme('colors.ds-background.dark');
    color: theme('colors.ds-primary.dark');
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: theme('colors.ds-background.light');
}
.dark ::-webkit-scrollbar-track {
  background-color: theme('colors.ds-card.dark');
}
::-webkit-scrollbar-thumb {
  background-color: theme('colors.ds-muted.light');
  border-radius: 9999px;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: theme('colors.ds-muted.dark');
}
::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.ds-secondary.light');
}
.dark ::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.ds-secondary.dark');
}
